<%= object = LinkThumbnailer.generate(url.url) %>
<tr>
  <td><a href="<%= url.url %>">Visit</a></td>
  <td><%= object.title %></td>
  <td><%= object.description %></td>
  <td><%= url.channel %></td>
  <td><%= url.shared_at %></td>
</tr>
