<h1>Make School Resources</h1>
<form class="form-inline" role="form">
    <%= form_tag(static_pages_home_path, :method => "get") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Resources" %>
    <%= submit_tag "Search" %>
    <% end %>
</form>
<%= @urls %>
<!-- <table>
  <tr>
    <th></th>
    <th>Title</th>
    <th>Description</th>
    <th>Channel</th>
    <th>Shared At</th>
  </tr>
  <% @urls.each do |url| %>
    <% object = LinkThumbnailer.generate(url.url) %>
    <tr>
      <td><a href="<%= url.url %>">Visit</a></td>
      <td><%= object.title[0,20] %></td>
      <td><%= object.description[0,80] %></td>
      <td><%= url.channel %></td>
      <td><%= url.shared_at %></td>
    </tr>
  <% end %>
</table> -->
