<h1>Make School Resources</h1>
<form class="form-inline" role="form">
    <%= form_tag(static_pages_home_path, :method => "get") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Resources" %>
    <%= submit_tag "Search" %>
    <% end %>
</form>
<table>
  <tr>
    <th></th>
    <th></th>
    <th>Title</th>
    <th>Description</th>
    <th>Channel</th>
    <th>Shared At</th>
  </tr>
  <% @urls.each do |url| %>
    <tr>
      <td><a href="<%= url.url %>">Visit</a></td>
      <td><img src="<%= url.image %>" alt="not found"/></td>
      <td><%= url.title %></td>
      <td><%= url.description %></td>
      <td><%= url.channel %></td>
      <td><%= url.shared_at %></td>
    </tr>
  <% end %>
</table>
